body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    padding: 30px;
    color: #222;
}

h1 {
    color: rgb(64, 64, 65);
    text-align: center;
}

h2, h3 {
    color: #4e4e4e;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0 35px 0;
}

th, td {
    border: 1px solid #444;
    padding: 8px 12px;
    text-align: center;
}

th {
    background-color: #606162;
    color: white;
}

caption {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
    color: #424243;
}

.profile-box {
    background-color: #ffffff;
    border: 2px solid #4d4e4f;
    padding: 20px;
    width: 350px;
    margin: 0 auto;
    text-align: center;
}

.header-info {
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #999;
    padding: 12px;
    margin-bottom: 20px;
}

.header-info p {
    margin: 3px 0;
}

.signature-block {
    margin-top: 25px;
    font-size: 15px;
}

table {
    font-size: 14px;
}